[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
chroma = "*"
mistralai = "*"
openai = "*"
tqdm = "*"
chromadb = "*"
pypdf = "*"
pytube = "*"
beautifulsoup4 = "*"
ollama = "*"
pillow = "*"
scikit-learn = "*"
markdown-pdf = "*"
groq = "*"
flask = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
